@model IventarioDeRecursos.Models.Recurso

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center text-danger">Sacar  Recurso</h1>


<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacao)
        </dd>
    </dl>

    <form method="post" asp-action="Delete">
        <input type="hidden" />
        <label for="txtname">Resposável pelo Saque</label>
        <input type="text" id="txtname" name="txtName" />

        <div>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            <input type="submit" value="Sacar" class="btn btn-danger" />
        </div>
    </form>

    



</div>
