@model IEnumerable<IventarioDeRecursos.Models.Recurso>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Recursos</h1>



<p>
    <a asp-action="Create" class="btn btn-outline-primary ">
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i> Novo Recurso
    </a>

</p>
<table id="tabelaRecursos" class="table  text-center table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Descricao" class="btn btn-outline-warning"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Descricao" class="btn btn-outline-success"><i class="fa fa-info fa-lg" aria-hidden="true"></i> Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Descricao" class="btn btn-outline-danger"><i class="fa fa-trash-o fa-lg"></i> Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script>
    $(document).ready( function () {
        $('#tabelaRecursos').DataTable({
            "language": {
                "emptyTable": "Nenhum recurso encontrado",
                "search": ' <i class="fa fa-search fa-lg" aria-hidden="true"></i> </i> ',
                "searchPlaceholder": 'Pesquisar',
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum recurso encontrado",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
            },
            "lengthChange": false,
            "ordering": false,
            "bInfo": false,
            
          
        });
    });

        </script>
}