@model IEnumerable<IventarioDeRecursos.Models.Movimentacao>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center mb-5 ">Movimentações</h1>


<table  id="tabelaMovimentacoes" class="table  table-bordered text-center table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeEntradaRecurso)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSaidaRecurso)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEntradaRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSaidaRecurso)
            </td>


        </tr>
        }
    </tbody>
</table>



@section Scripts {

    <script>
    $(document).ready( function () {
        $('#tabelaMovimentacoes').DataTable({
            "language": {
                "emptyTable": "Nenhum recurso encontrado",
                "search": ' <i class="fa fa-search fa-lg" aria-hidden="true"></i> </i> ',
                "searchPlaceholder": 'Pesquisar',
                "loadingRecords": "Carregando...",
                "processing": "Processando...",
                "zeroRecords": "Nenhum recurso encontrado",
                "paginate": {
                    "next": "Próximo",
                    "previous": "Anterior",
                    "first": "Primeiro",
                    "last": "Último"
                },
            },
            "lengthChange": false,
            "ordering": false,
            "bInfo": false,


        });
    });

    </script>
}
